DB_PASSWORD=change_this_to_a_strong_password
TELEGRAM_BOT_TOKEN=8661992678:AAHM9zWtfvw4UH_ozteb0XS9K-vqY4mqJ2s
TELEGRAM_OWNER_CHAT_ID=8710617911
API_SECRET=change_this_to_a_random_string
HOST_IP=164.92.229.200
